* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	--bg-color: $ {
		theme==='light'?'#fff': "#111";
	}
	--text-color: $ {
		theme==='light'?'#333': "#eee";
	}
}

body {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

#tsparticles {
	height: 100vh !important;
	width: 100% !important;
	z-index: 0 !important;
}

#your-div {
	position: absolute;
	top: 40%;
	left: 20%;
	z-index: 999;
}

#container {
	position: relative;
}

@media (max-width: 768px) {
	.responsive-image {
		width: 80%;
		height: 50%;
	}
	#your-div {
		position: absolute;
		height: 300px;
		width: 320px;
		z-index: 999;
		left: 1%;
		top: 30%;
	}
}
.border-blue {
	border: 1px solid #0047ab !important;
}
.light {
	background-color: #fff !important;
	transition: 1s ease-in-out;
	color: black !important;
}

.dark {
	background-color: #111 !important;
	transition: 1s ease-in-out;
	color: white !important;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}

.bg-blue {
	background-color: #003681;
}
.text-bold {
	font-weight: 700;
}

.text-md {
	font-weight: 500;
}

.text-blue {
	color: #003681;
}

.bg-magenta {
	background-color: #ab0056;
}

.text-magenta {
	color: #ab0056;
}

.page-transition-enter {
	opacity: 0;
}
.page-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.page-transition-exit {
	opacity: 1;
}
.page-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

@media (max-width: 991.98px) {
	.navbar-toggler {
		background-color: #fff !important;
	}
	#your-div {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 700px !important;
		z-index: 999;
	}
}

@media (max-width: 768.98px) {
	.navbar-toggler {
		background-color: #fff !important;
	}
	#your-div {
		position: absolute;
		top: 10%;
		left: 10%;
		width: 700px !important;
		z-index: 999;
	}
}

@media (max-width: 400.98px) {
	.navbar-toggler {
		background-color: #fff !important;
	}
	#your-div {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 300px !important;
		z-index: 999;
	}
}

.btn-nav {
	background-color: #003681 !important;
	border: none !important;
}

.btn-nav:hover {
	background-color: #0047ab !important;
	transform: scale(1.1);
	transition: 0.4s ease-in-out;
}

.btn-nav-drop {
	background-color: #003681 !important;
}

.btn-nav-drop:hover {
	background-color: #0047ab !important;
}

#basic-nav-dropdown {
	color: white !important;
}
